.btn__favorit{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    padding: 6px;
    border-radius: 32px;
    box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.5);
    background-color: var(--page-bg);

    transition: all 0.2s ease-in;

    svg{
        fill: #6C7275;
        transition: all 0.2s ease-in;
    }

    &:hover{
        background-color: #d32525;

        svg{
            fill: #ffffff;
        }
    }

}
