.hero{
    height: 820px;

    background-color: var(--accent);
    background-image: url(./../img/Hero/hero.bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}