.promotion {
    background-color: rgba(255, 170, 0, 0.4);
    display: grid;
    gap: 24px;
}

.promotion__content {
    width: 50%;
    padding: 100px 0;
    float: right;
}

.promotion__tagline {

}

.promotion__desc {
    display: grid;
    gap: 16px;

}

.promotion__title {

}

.promotion__expires {

}

.promotion__timer {
    display: grid;
    gap: 12px;
}

.promotion__btn {


}

.btn {

}